<div class="modal-body">
    <form action="{$_W['siteurl']}" method="post">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="nums_plus">
                <div class="form-group">
                    <label for="">姓名</label>
                    <div class="input-group" style="background-color:#eee; padding:5px; width:100%;">{$item['realname']}</div>
                </div>
                <div class="form-group">
                    <label for="">手机号码</label>
                    <div class="input-group" style="background-color:#eee; padding:5px; width:100%;">{$item['mobile']}</div>
                </div>
                <div class="form-group">
                    <label for="">地区</label>
                    <div class="input-group" style="background-color:#eee; padding:5px; width:100%;">{$item['area']}</div>
                </div>
                {if empty($item['static'])}
                <div class="form-group">
                    <label for="">身份证号</label>
                    <div class="input-group" style="background-color:#eee; padding:5px; width:100%;">{$item['id_card']}</div>
                </div>
                {else}
                {if !empty($item['license'])}
                <div class="form-group">
                    <label for="">营业执照</label>
                    <div><img src="{$item['license']}" style="width: 50%;"></div>
                </div>
                {/if}
                {/if}
                <div class="form-group">
                    <label for="">状态</label>
                    <div class="input-group" style="background-color:#eee; padding:5px; width:100%;">
                        <div class="radio" style="display:inline-block">
                            <label><input type="radio" name="status" value="1" {if $item['status'] == 1}checked{/if}> 通过</label>
                        </div>
                        <div class="radio" style="display:inline-block;margin-left: 20px;">
                            <label><input type="radio" name="status" value="2" {if $item['status'] == 2}checked{/if}> 不通过</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="btn btn-info" type="submit" value="审核" name="submit">
                        <input type="hidden" value="{$_W['token']}" name="token">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>