{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('category')}">分类</a></li>
	<li {if $op == 'post'} class="active"{/if}><a href="{php echo $this->createWebUrl('category', array('op' => 'post'))}">{if !empty($_GPC['id'])}编辑分类{else}添加分类{/if}</a></li>
</ul>

{if $op == 'post'}
<div class="main form-horizontal">
	<form action="" method="post" >
		<input type="hidden" name="id" value="{$_GPC['id']}" />
		<div class="panel panel-info">
			<div class="panel-heading">{if !empty($_GPC['id'])}编辑分类{else}添加分类{/if}</div>
			<div class="panel-body">

				<div class="form-group">

					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">排序</label>

					<div class="col-sm-5">

						<input type="number" name="displayorder" class="form-control" value="{php echo $item['displayorder']?$item['displayorder']:0}" min="0" />

					</div>

				</div>

			</div>

			<div class="panel-body">

				<div class="form-group">

					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">分类名称</label>

					<div class="col-sm-5">

						<input type="text" name="catename" class="form-control" value="{$item['catename']}" />

					</div>

				</div>

			</div>
			
			<div class="panel-body">
				
				<div class="form-group">
					
				    <label class="col-sm-2 control-label">是否显示</label>
				    
				    <div class="col-sm-8">
				
						<label class="radio-inline"><input type="radio" name="enabled" id="inlineRadio1" value="1" {if $item['enabled']=='1'}checked="checked"{/if}>是</label>
					
						<label class="radio-inline"><input type="radio" name="enabled" id="inlineRadio2" value="0" {if empty($item['enabled'])}checked="checked"{/if}>否</label>
					
				    </div>
				    
				</div>
			</div>
			
			<div class="panel-body">

				<div class="form-group">

					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">分类图标</label>

					<div class="col-sm-5">

						{php echo tpl_form_field_image('cate_pic', $item['cate_pic']);}

					</div>

				</div>

			</div>
		</div>
		<div class="form-group col-sm-12">
			<input class="btn btn-primary col-lg-1" type="submit" style="margin-right:30px;" value="保存">
			<a href="javascript:void(0)" onClick="javascript :history.back(-1);" class="btn btn-primary col-lg-1" >返回</a>
			<!--<a href="{php echo $this->createWebUrl('member',array('method' => 'edit','handle' => 'del','id' => $item['id']))}" onclick="return confirm('是否删除用户？');return false;" class="btn btn-primary col-lg-1" style="margin-right:30px;" >删除</a>-->
		</div>
	</form>
</div>
{/if}

{if $op == 'display'}
	<style type="text/css">
		.form-horizontal .control-label{
			padding-top: 0!important;
		}
		.table-responsive .table>tbody>tr>td{
			vertical-align: middle;
		}
	</style>
	<div class="main panel panel-default">
		<div class="panel-body table-responsive">
			<form action="" method="post" class="form-horizontal form" onsubmit="return formcheck(this)">
				<table class="table table-hover">
					<thead class="navbar-inner">
						<tr>
							<th style="width:10px;"></th>
							<th style="width:80px;">显示顺序</th>
							<th style="width:100px;">分类图标</th>
							<th style="width:100px;">分类名</th>
							<th style="width:100px;">是否显示</th>
							<th style="width:180px;">操作</th>
						</tr>
					</thead>
					<tbody id="main">
						{if count($cates)>0}
						{loop $cates $row}
						<tr>
							<td>
								{if count($children[$row['id']]) > 0}
								<a href="javascript:;">
								</a>
								{/if}
							</td>
							<td class="text-left">
								<input style="width: 80%;" type="text" name="displayorder[{$row['id']}]" value="{$row['displayorder']}">
							</td>
							<td class="text-left">
								<img src="{$_W['siteroot']}attachment/{$row['cate_pic']}" width="40px" />
							</td>
							<td class="text-left">
								{$row['catename']}
							</td>
							<td>
								{if !empty($row['enabled']) && $row['enabled'] == 1}
									是
								{else}
									否
								{/if}
							</td>
							<td>
								<a href="{php echo $this->createWebUrl('category', array('op' => 'post', 'id' => $row['id']))}" title="编辑" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit">编辑</i></a>
								<a href="{php echo $this->createWebUrl('category', array('op' => 'del','id' => $row['id']))}" onclick="return confirm('确认删除此分类吗？');return false;" title="删除" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times">删除</i></a>
							</td>
						</tr>
						{/loop}
						<tr>
							<td></td>
							<td colspan="5">
								<input name="submit" type="submit" class="btn btn-primary" value="提交">
								<input type="hidden" name="token" value="{$_W['token']}" />
							</td>
						</tr>
						{/if}
					</tbody>
				</table>
			</form>
			{$pager}
		</div>
	</div>
{/if}
{template 'common/footer'}