{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $op=='display'}class="active" {/if}>
		<a href="{php echo $this->createWebUrl('order')}">订单管理</a>
	</li>
</ul>
{if $op == 'post'}
<div class="main form-horizontal">
	<form action="" method="post">
		<input type="hidden" name="id" value="{$_GPC['id']}" />
		<div class="panel panel-info">
			<div class="panel-heading">会员信息</div>
			<div class="panel-body"><br />
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">openid</label>
					<div class="col-xs-12 col-sm-9">
						<input type="text" class="form-control" readonly="readonly" value="{$item['openid']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">头像</label>
					<div class="col-xs-12 col-sm-9">
						<img src="{$item['avatar']}" width="60px">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称</label>
					<div class="col-xs-12 col-sm-9">
						<input type="text" class="form-control" readonly="readonly" value="{$item['nickname']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">姓名</label>
					<div class="col-xs-12 col-sm-9">
						<input type="text" class="form-control" name="realname" value="{$item['realname']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">手机号码</label>
					<div class="col-xs-12 col-sm-9">
						<input type="text" class="form-control" name="mobile" value="{$item['mobile']}" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">创建时间</label>
					<div class="col-xs-12 col-sm-9">
						<input type="text" class="form-control" readonly="readonly" value="{if $item['createtime'] > 0}{php echo date('Y-m-d H:i:s',$item['createtime'])}{/if}" />
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input class="btn btn-primary col-lg-1" type="submit" style="margin-right:30px;" value="保存">
			<a href="javascript:void(0)" onClick="javascript :history.back(-1);" class="btn btn-primary col-lg-1">返回</a>
		</div>
	</form>
</div>

{/if}

{if $op=='display'}

<div class="panel panel-default">

	<div class="table-responsive panel-body">
		<form action="" method="get" enctype="multipart/form-data">
			<input type="hidden" name="c" value="{$_GPC['c']}" />
			<input type="hidden" name="a" value="{$_GPC['a']}" />
			<input type="hidden" name="op" value="{$_GPC['op']}" />
			<input type="hidden" name="do" value="{$_GPC['do']}" />
			<input type="hidden" name="m" value="{$_GPC['m']}" />
			<input type="hidden" name="version_id" value="{$_GPC['version_id']}" />
			<div class="form-group">
				<div class="col-sm-9 col-lg-9 col-xs-12">
					<input type="text" class="form-control" name="keyword" value="{$_GPC['keyword']}" placeholder="输入昵称/手机号码/姓名搜索" />
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>
		</form>
		<div class="panel panel-default">
			<div class="panel-body table-responsive">
				<table class="table table-hover">
					<thead class="navbar-inner">
						<tr>
							<th style="width: 50px;">接单人</th>
							<th>订单号</th>
							<th>接单时间</th>
							<th>订单金额</th>
							<th>平台抽成{$setting['pumping']}%</th>
							<th>保证金{$setting['security']}%</th>
							<th>人数</th>
							<th>预计工费</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $list $row}
						<tr>
							<td>
								{$row['member']['nickname']}
								<br />
								<img src="{$row['member']['avatar']}" height="50" width="50" />
							</td>
							<td>{$row['release']['ordersn']}</td>
							<td>{$row['createtime']}</td>
							<td>{$row['release']['money']}</td>
							<td>{$row['release']['pumping']}</td>
							<td>{$row['deposit']}</td>
							<td>{$row['release']['num']}/{$row['release']['nums']}</td>
							<td>{$row['release']['total_price']}</td>
							<td>{$row['status']}</td>
							<td>
								{if $row['can_refund_bond'] == 1 && $row['deposit_paystatus'] == 2}
								<a href="{php echo $this->createWebUrl('order', array('op' => 'refund','id' => $row['id']))}" class="btn btn-default btn-sm" title="退保证金"><i class="fa fa-edit"></i> 退保证金</a>
								{/if}
								{if $row['apply'] == 1 && $row['release']['status'] == 3}
								<a href="{php echo $this->createWebUrl('order', array('op' => 'payapply','id' => $row['id']))}" class="btn btn-default btn-sm" title="打款"><i class="fa fa-edit"></i> 打款</a>
								{/if}
								<a href="{php echo $this->createWebUrl('order', array('op' => 'del','id' => $row['id']))}" class="btn btn-default btn-sm" title="删除" onclick="if(!confirm('确定删除吗?')) return false;"><i class="fa fa-times"> </i></a>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
		{$pager}
	</div>
</div>
{/if} 
{template 'common/footer'}